<div [ngClass]="{'hide-smoothly': !loader}" class="loader-wrapper hide-all">
  <div class="loader"></div>
</div>
<section class="page-body single-post">
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <div class="post-date">Posted at
      <time pubdate itemprop="datePublished">{{post.date}}</time>
    </div>
    <h3>{{post.title}}</h3>
    <div class="content">
      <div class="post-image">
        <img [src]="post.imageURL" alt="">
      </div>
      <p>{{post.content}}</p>
      <ul class="tags-list">
        <li><a href="#">Linux</a></li>
        <li><a href="#">Vps</a></li>
        <li><a href="#">Web-development</a></li>
        <li><a href="#">Web-development</a></li>
        <li><a href="#">Web-development</a></li>
        <li><a href="#">Web-development</a></li>
      </ul>
    </div>
  </article>
</section>

