<div class="page-load" *ngIf="isLoading"></div>
<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="loginForm" *ngIf="!isAuthenticated">
      <input
              type="text"
              placeholder="Email..."
              formControlName="email"  >
      <input
              type="password"
              placeholder="Password..."
              formControlName="password" >
      <button (click)="onLogin()" [disabled]="!loginForm.valid">login</button>
      <button type="button" [routerLink]="['']" style="margin-top: 15px">Back to blog</button>
      <p class="message" *ngIf="!isLoginCorrect">Invalid Login Or Password</p>
    </form>
    <div class="authorized" *ngIf="isAuthenticated">Login was successful!. You will be redirected in {{timerRemains.toString() | slice:0:1}} seconds...
    </div>
  </div>
</div>