<div class="menu-wrapper">
  <a class="mobile-menu-switcher" (click)="isResponsive = !isResponsive;">&#9776;</a>
  <ul class="top-menu" [class.responsive]="isResponsive">
    <li><a [routerLink]="['']">All Posts</a></li>
    <li><a [routerLink]="['']">Popular Posts</a></li>
    <li><a [routerLink]="['/singlepost']">Single Post</a></li>
    <li><a [routerLink]="['/addpost']" *ngIf="isAuthenticated">Add Post</a></li>
    <li *ngIf="isAuthenticated" ><a style="cursor: pointer" (click)="onLogout()" >Logout</a></li>
    <li *ngIf="!isAuthenticated" ><a [routerLink]="['/login']">Login</a></li>
  </ul>
</div>