<section class="page-body write-post">
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <form class="input-fields" [formGroup]="postForm">
      <input type="text"
             id="title"
             placeholder="Title..."
             formControlName="title"  >
      <label for="title"></label>
      <textarea cols="30"
                rows="8"
                id="content"
                placeholder="Post content..."
                formControlName="content"></textarea>
      <label for="content"></label>
      <button class="submit-post" [disabled]="!postForm.valid" (click)="onSetPost()">{{ctaSubmitTitle}}</button>
      <button class="write-new-post" *ngIf="this.isSubmitted" (click)="onNewPost()">Write a new Post</button>
      <!--<button onclick="getImageURL()" class="attach-image">Attach Image</button>-->
      <input type="file" #fileInput (change)="onImageUpload()" >
    </form>
    <div *ngIf="imageURL" class="post-image" style="width: 300px; height: auto"><img [src]="imageURL" alt="">
    </div>
  </article>
</section>