<section class="page-body write-post">
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <form class="input-fields" [formGroup]="postForm">
      <input type="text"
             id="title"
             placeholder="Title..."
             formControlName="title"  >
      <label for="title"></label>
      <textarea cols="30"
                rows="8"
                id="content"
                placeholder="Post content..."
                formControlName="content"></textarea>
      <label for="content"></label>
      <button class="submit-post" [disabled]="!postForm.valid" (click)="onSetPost()">{{ctaSubmitTitle}}</button>
      <button class="submit-post" *ngIf="this.isSubmitted" (click)="onNewPost()" style="margin-right: 20px">Write a new Post</button>
      <button class="attach-image">Attach Image</button>
    </form>
    <div class="post-image">
    </div>
  </article>
</section>