<section class="page-body write-post">
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <form class="input-fields" [formGroup]="postForm">
      <input type="text"
             class="post-title"
             id="title"
             placeholder="Title..."
             formControlName="title"  >
      <label for="title"></label>
      <textarea cols="30"
                rows="8"
                id="content"
                class="post-content"
                placeholder="Post content..."
                formControlName="content"></textarea>
      <label for="content"></label>
      <input type="text"
             class="post-tags"
             id="tags"
             placeholder="Tags..."
             formControlName="tags"  >
      <label for="tags"></label>
      <button class="submit-post" [disabled]="!postForm.valid && !post.imageURL" (click)="onSetPost()">{{ctaSubmitTitle}}</button>
      <button class="write-new-post" (click)="onNewPost()" *ngIf="postStatus !== 'new'">Write a new Post</button>
      <input type="file" name="fileInput" class="inputfile" id="fileInput" #fileInput (change)="onImageUpload()" >
      <label for="fileInput" class="inputfile-label">Choose an image</label>
    </form>
    <div *ngIf="post.imageURL" class="post-image" style="width: 300px; height: auto"><img [src]="post.imageURL" alt="">
    </div>
  </article>
</section>