<section class="page-body">
<article>
  <div class="post-date">Posted at <time>19.10.2015</time></div>
  <h3>How to quit from a job</h3>
  <div class="content">
    <div class="post-image">
      <img src="../content-images/works/how-to-quit-your-job.jpg" alt="">
    </div>
    <p>Web hosting reviews shared by social media users power these rankings. We only consider reviews fresh from the last year in order to make this web hosting comparison relevant. You can filter the type of web hosting you need with the controls above. Click below to read web hosting reviews, see charts, pros/cons and other helpful information for each provider. Get in Touch if you have any questions.</p>
    <a href="#" class="read-more">Read more</a>
  </div>
</article>
<article>
  <div class="post-date">Posted at <time>19.10.2015</time></div>
  <h3>How to find a new job</h3>
  <div class="content">
    <div class="post-image">
      <img src="../content-images/works/new-job-2.jpg" alt="">
    </div>
    <p>Web hosting reviews shared by social media users power these rankings. We only consider reviews fresh from the last year in order to make this web hosting comparison relevant. You can filter the type of web hosting you need with the controls above. Click below to read web hosting reviews, see charts, pros/cons and other helpful information for each provider. Get in Touch if you have any questions.</p>
    <a href="#" class="read-more">Read more</a>
  </div>
</article>
<article>
  <div class="post-date">Posted at <time>21.09.2013</time></div>
  <h3>Best Hosting for your project</h3>
  <div class="content">
    <div class="post-image">
      <img src="../content-images/works/hosting_pic.jpg" alt="">
    </div>
    <p>Web hosting reviews shared by social media users power these rankings. We only consider reviews fresh from the last year in order to make this web hosting comparison relevant. You can filter the type of web hosting you need with the controls above. Click below to read web hosting reviews, see charts, pros/cons and other helpful information for each provider. Get in Touch if you have any questions.</p>
    <a href="#" class="read-more">Read more</a>
  </div>
</article>
</section>